.loginPage {
    display: flex;
    height: 100vh;
    /* Full viewport height */
    background-color: black;
}

.loginPage__leftHalf,
.loginPage__rightHalf {
    flex: 1;
    /* Takes equal space (50% each) */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.loginPage__rightHalf {
    padding: 36px;
    font-weight: 700;
    flex-direction: column;
    align-items: start;
}

@font-face {
    font-family: "Chirp-Regular";
    src: local("Chirp-Regular.80fda27a"),
      url("../fonts/Chirp-Regular.ttf") format("truetype");
  }

.loginPage__xIcon {
    font-size: 300px !important;
    padding: 0px !important;
}
.loginPage__loginform__xIcon2 {
    color: white !important;
    font-size: 32px !important;
    padding-bottom: 30px !important;
}

.loginPage__happeningNow {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 64px;
    text-align: left;
}

.loginPage__joinToday {
    margin: bottom 32px;
    font-size: 31px;
    text-align: left;
}

.loginPage__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.loginPage__createAccountBtn {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 10px !important;
    font-size: 15px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: 300px !important;
    margin-bottom: 8px !important;
}
.loginPage__createAccountBtn:hover{
 background-color: rgb(26,141,218) !important;
}
.loginPage__signInGoogleBtn {
    background-color: white !important;
    border: none !important;
    color: black !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 20px !important;
    font-size: 15px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: 300px !important;
    margin-bottom: 8px !important;
}
.loginPage__signInGoogleBtn:hover{
    background-color: rgb(225,225,225) !important;
}
.googleSvg{
    height: 20px;
    margin-right: 4px;
    height: 28px;
}
.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: -4px;
}
.loginForm__line-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line {
    flex: 1; /* Take as much space as possible */
    height: 1px; /* Thin line */
    background-color: rgb(47, 51, 54);
    margin: 0 10px; /* Space between the line and the text */
}

p {
    margin: 0; /* Remove default margin from the text */
    padding: 0 10px; /* Optional: Padding around the text */
}

.loginPage__alreadyAccount{
    margin-top: 64px;
    font-size: 17px;
    font-weight: 700;
}

.loginPage__signInBtn {
    background-color: black !important;
    border: 1px solid !important;
    color: var(--twitter-color) !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 10px !important;
    font-size: 15px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: 300px !important;
    margin-bottom: 8px !important;
    border-color: rgb(83, 100, 113) !important;
}
.loginPage__signInBtn:hover{
    background-color: rgba(29, 155, 249, 0.094) !important;
}
.loginPage__loginForm__signInGoogleBtn{
    background-color: white !important;
    border: none !important;
    color: black !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 20px !important;
    font-size: 15px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: 100% !important;
    margin-bottom: 8px !important;
}
.loginPage__loginForm__signInGoogleBtn:hover{
    background-color: rgb(220, 220, 220) !important;
}
.popup__login{
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup__content {  
    position: relative;      
    background-color: black;
    padding: 20px;
    border-radius: 16px;
    width: 500px;
    text-align: center;
    height: auto;    
  }
  
  .popup__closeBtn {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  input{
    background-color: black;
  }
  input:-internal-autofill-selected{
    background-color: black !important;
    color: black !important;
  }
  .popup__input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0px solid rgb(118, 118, 118);
    border: 1px solid rgb(118, 118, 118);
    background-color: black;
  }
  
  .popup__submitBtn {
    background-color: white !important;
    border: none !important;
    color: black !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 20px !important;
    font-size: 15px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: 100% !important;
    margin-bottom: 40px !important;
  }
  h2{
    margin-left: 10px;
  }
  .input-container {
    position: relative;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 6px;
    cursor:text !important;
    transition: border-color 0.3s ease;
    padding-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    background: transparent;
  }
  
  label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: grey;
    transition: 0.2s ease all;
    transform: translateY(-50%);
    cursor: text !important;
  }
  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #007BFF;
    transform: translateY(+30%);
  }
  .input-container input:not(:focus):valid {
    color: grey;
  }