.expanding-textbox {
    position: relative;
    display: flex;    
  }
  
  .expanding-textbox textarea {
    width: 100%;
    border: none;
    padding: 5px;
    font-family: inherit;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    transition: width 0.1s ease-in-out;
    line-height: 24px;
    font-size: 20px;
    background-color: black !important;
    color: white;
  }
  
  .expanding-textbox textarea:focus {
    outline: none;
  }
  
  .expanding-textbox textarea::-webkit-scrollbar {
    display: none;
  }

  .expanding-textbox textarea::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: gray;
    line-height: 24px;
  }