body {
    --twitter-color: rgba(29, 155, 240, 1);
    --twitter-background: rgb(239, 243, 244);
}
.mainPage {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

@font-face {
    font-family: "Chirp Regular";
    src: local("Chirp-Regular.80fda27a"),
      url("../fonts/Chirp-Regular.ttf") format("truetype");
  }