.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    width: 100%;
    background-color: white !important;
    color: black;
    /* background-color: rgba(255,255,255); */
    cursor: pointer;
  }
  @font-face {
    font-family: "Chirp-Regular";
    src: local("Chirp-Regular.80fda27a"),
      url("../fonts/Chirp-Regular.ttf") format("truetype");
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
    margin-top: 5px;
  }
  
  .post__body > img {
    border-radius: 20px;
    height: 200px;
  }
  .ButtonContainer {
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .buttonContainer:hover .moreButton {
    transition: color 150ms ease-out;
    color: rgba(29, 155, 240, 1);
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50%;
}
.moreButton {
  margin: 0px !important;
  padding: 5px !important;
}
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .post__headerText{
    display: flex;
    justify-content: space-between;
    
  }
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Chirp-Regular";
    white-space: pre-wrap;
    max-width: 400px;
    word-break: break-all;
  }
  
  .post__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
    font-family: "Chirp-Regular";
    font-weight: 700;
  }
  .displayName {
    &:hover{
      text-decoration: underline;
    }
  }
  .post__badge {
    margin-left: 2px !important;
    margin-right: 2px;
    margin-bottom: -2px !important;
    font-size: 14px !important;
    color: var(--twitter-color);
  }
  
  .post__headerSpecial {
    font-weight: 400;
    font-size: 15px;
    color: gray;
    font-family: "Chirp-Regular";
  }
  
  .post__avatar {
    padding-left: 20px;
    padding-top: 20px;

  }

  .flexDiv {
    flex-grow: 1;
  }
  .post:hover{
    transition: color 150ms ease-out;
    background-color: #F8F8F8 !important;
  }

  .viewsButton :hover {
    transition: color 150ms ease-out;
    color: var(--twitter-color);
  }

  .retweetButtonIcon {
    padding: 5px !important;
    color: rgb(113, 118, 123) !important;
  }

  .likeButtonIcon{
    padding: 5px !important;
    color: rgb(113, 118, 123) !important;
  }
  .commentButtonIcon{
    padding: 5px !important;
    color: rgb(113, 118, 123) !important;
    overflow: visible !important;
  }
  .viewsButtonIcon {
    color: rgb(113, 118, 123) !important;
    padding: 5px !important;
  }
  .commentButtonContainer {
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .commentButtonContainer:hover .commentButtonIcon {
    transition: color 150ms ease-out;
    color: rgba(29, 155, 240, 1) !important;
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50%;
  }
  .likeButtonContainer {
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .likeButtonContainer:hover .likeButtonIcon {
    transition: color 150ms ease-out;
    color: rgba(249, 24, 128, 1) !important;
    background-color: rgba(249, 24, 128, 0.1);
    border-radius: 50%;
  }
  .retweetButtonContainer {
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .retweetButtonContainer:hover .retweetButtonIcon {
    transition: color 150ms ease-out;
    color: rgba(0, 186, 124, 1) !important;
    background-color: rgba(0, 186, 124, 0.1);
    border-radius: 50%;
  }
  .viewsButtonContainer {
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .viewsButtonContainer:hover .viewsButtonIcon {
    transition: color 150ms ease-out;
    color: rgba(29, 155, 240, 1) !important;
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50%;
  }