.showMore {
    font-weight: 400;
    color: var(--twitter-color);
    font-size: 15px;
    padding: 16px;
    cursor: pointer;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.showMore:hover {
    transition-duration: 0.1s;
    background-color: #111111;
}