.sidebar {
    flex: 0.2;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color:black;
}

.sidebar_tweet {
    background-color: black !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 50px !important;
    margin-top: 20px !important;
    font: "Chirp Bold" !important;
    font-size: 15px !important;
}
.sidebar_tweet:hover {
    background-color: #222222 !important;    
    transition: color 200ms ease-out !important;
}

.sidebar__xIcon:hover {
    transition: color 150ms ease-out;
    background-color: #EEEEEE;
}
.sidebar__xIcon {
    font-size: 30px !important;
    margin-left: 30px !important;
    margin-bottom: 20px !important;
    border-radius: 50% !important;
    overflow: visible !important;
    padding: 10px !important;
    cursor: pointer !important;
}

.sidebar__xIconContainer {
width: auto;
height: auto;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.sidebar__xIconContainer:hover .sidebar__xIconIcon {
transition: color 150ms ease-out;
color: rgba(29, 155, 240, 1);
background-color: rgba(29, 155, 240, 0.1);
border-radius: 50%;
}