.tweetBox {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-background);
    padding-right: 10px;
    display: flex;
    color: black;
    background-color: white;
  }
  .tweetBox > form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .tweetBoxIconContainer {
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .tweetBoxIconContainer:hover .tweetBoxIcon {
    transition: color 150ms ease-out;
    color: rgba(29, 155, 240, 1);
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50%;
  }
  .tweetBoxIcon {
    padding: 5px;
  }

  .tweetBox__input {
    padding-top: 20px;
    padding-right: 20px;
    margin-right: 10px;
  }
  .tweetBoxInputStuff {
    width: 100%;
    flex:1;
  }
  .tweetBoxButtons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    width: 100%;
    padding-top: 10px;
  }
  .tweetBoxAvatar {
    padding: 20px;
    padding-right: 10px;
  }
  .tweetBoxTopRow {
    display: flex;
  }
  .tweetBoxButtonsIcons {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    justify-content: space-between;
  }
  .tweetBoxIcon {
    color: var(--twitter-color);
    font-size: 20px !important;
    font-weight: 50 !important;
  }
  .tweetBox__tweetButton {
    background-color:black !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-left: auto !important;
    align-items: center !important;
    font: "Chirp Regular" !important;
  }
  .tweetBox__tweetButton:hover{
    background-color: #222222 !important;    
    transition: color 200ms ease-out !important;
  }
  .expanding-textbox {
    position: relative;
    display: flex;    
  }
  
  .expanding-textbox textarea {
    width: 100%;
    border: none;
    padding: 5px;
    font-family: inherit;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    transition: width 0.1s ease-in-out;
    line-height: 24px;
    font-size: 20px;
    background-color: white !important;
    color: black;
  }
  
  .expanding-textbox textarea:focus {
    outline: none;
  }
  
  .expanding-textbox textarea::-webkit-scrollbar {
    display: none;
  }

  .expanding-textbox textarea::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: gray;
    line-height: 24px;
  }