body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}
.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

@font-face {
    font-family: "GT";   /*Can be any text*/
    src: local("GT-America-Standard-Regular"),
      url("./fonts/GT-America-Standard-Regular.ttf") format("truetype");
  }