* {
  margin: 0;
}
@font-face {
  font-family: 'Chirp Regular';
  src: url('./fonts/Chirp-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Chirp Bold';
  src: url('./fonts/Chirp-Bold.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Chirp Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
