.sidebarOption {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption:hover {
    /*background-color: #e8f5fe;*/
    background-color: rgb(215, 219, 220);
    border-radius: 30px;
    transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
}

.sidebarOption > h2 {
    font-weight: 400;
    font-size: 20px;
    margin-right: 20px;
    font-family: "GT";
}
.sidebarOption--active {
    color: var(--twitter-color);
}