.topHappening {
    display: flex;
    cursor: pointer;    
}
.topHappeningImage {
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 70px;
    height: 70px;
}
.topHappeningText {
    margin-top: 10px;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.topHappening:hover {
    transition-duration: 0.1s;
    background-color: #f5f5f5;
}
.topHappeningTopic {
    margin-top: -10px;
    font-weight: bold;
}
.topHappeningCategory {
    font-size: 13px;
    color: gray;
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.ButtonContainer {
width: auto;
height: auto;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.moreButton {
    margin-right: 10px;
}
.buttonContainer:hover .moreButton {
    transition-duration: 0.1s;
    color: rgba(29, 155, 240, 1);
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50%;
}
.topAmountOfInteractions {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}
